*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

header{
    background-color:#11242c;
    height: 90px;
    
}
.encabezado{
    
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    gap: 350px;

}
.logo_nombre{
    width: 25%;
    display: flex;
    padding-top: 5px;
}
.nombre_sitio{
    color: white;
    font-size: 17px;
    text-decoration: none;
    position: relative;
    top: 3.5px;
}
.logo{
    margin-top: -4.1px;
}
.nav{
    text-decoration: none;
    color: white;
}
.panel_nav{
    margin-right: 30px;
    width: 40%;
    padding-top: 13px;
    justify-content: center;  

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.contacto_formulario{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-top: 30px;
}
.contacto{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 900;
}
.formulario{
    line-height: 40px;
    width: 50%;
    margin-left: 30px;
}
.comentarios{
    line-height: 30px;
}
.textos{
    width: 500px;
    height: 25px;
}
.mensaje{
    margin-top: 7px;
    width: 500px;
    font-family:Arial, Helvetica, sans-serif;
}
.botones{  
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 380px;
}
.boton{
    padding: 5px;
}
.datos_contacto{
    width: 40%;
    margin-right: -20px;
}
.oficina{
    text-align: center;
    margin-top: 5px;
}
.direccion_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}
.email_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}
.cel_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 29px;
    border-radius: 50%;
    padding: 6px;
}
.horario_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}

.direccion{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;

}
.direccion_texto{
    margin-left: 10px;
    line-height: 30px;
}
.mapa{
    margin-top: 50px;
    width: 100%;
    height: 400px;
}