@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

header{
    background-color:#11242c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 15px;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;   
}

.encabezado{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo_nombre{
    display: flex;
    align-items: center;
    margin-left: 4px;
}
.logo{
    margin-top: 8px;
}

.nombre_sitio{
    font-size: 16px;
}

.panel_nav{
    margin-right: 40px;
    width: 40%;
    padding-top: 17px;

}

.banner_video {
    position: relative;
}
.video {
    width: 100%;
    opacity: 0.7;
}

.frase_autor {
    color:black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.frase {
    font-weight: 600;
    font-size: 60px;
}

.autor {
    font-size: 35px;
}
.seccion_estudio{
    padding-top: 20px;
    padding-bottom: 90px;
}
.div_vacio{
    padding-top: 30px;
}
.seccion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.estudio{
    width: 45%;
    text-align: justify;
    line-height: 35px;
    font-size:larger;
    margin-top: 0px;  
}
.elestudio{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    padding-top: 30px;
}

.dra{
    text-align: center;
    line-height: 70px;
}

.seccion_general{
    background-color: #dddbcb;
    padding-bottom: 90px;
    
}

.servicios{
    text-align: center;
    padding-top: 90px;
    color: black;
    font-size: 35px;
    font-weight: 900;
    
}

.seccion_servicios{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-top: 35px;
    color:black;
}
.derecho_familia{
    width: 30%;
    height: 400px;
    text-align: center;
    font-size: 13px;
}
.derecho_sucesorio{
    width: 30%;
    height: 400px;
    text-align: center;
    font-size: 13px;
}
.abogacia_preventiva{
    width: 30%;
    height: 400px;
    text-align: center;
    font-size: 13px;
}
.consulta_boton{
    background-color: #11242c;
    width: 220px;
    margin: auto;
    text-align: center;
    padding: 15px;
    margin-top: -120px;
    font-size: 20px;  
    
}

.seccion_contacto{
    background-color: #e8e8e8;
}
.contacto_formulario{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-top: 30px;
}
.contacto{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    padding-top: 30px;
}
.formulario{
    line-height: 40px;
    width: 50%;
    margin-left: 30px;
}
.comentarios{
    line-height: 30px;
}
.textos{
    width: 100%;
    height: 25px;
}
.mensaje{
    margin-top: 7px;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}
.botones {  
    display: flex;
    justify-content: flex-end;
}

.boton {
    padding: 5px;
}

.datos_contacto{
    width: 40%;
    margin-right: -20px;
}
.oficina{
    text-align: center;
    margin-top: 5px;
}
.direccion_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}
.email_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}
.cel_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;
    height: 30px;
    width: 29px;
    border-radius: 50%;
    padding: 6px;
}
.horario_icono{
    font-size: 30px;
    background-color: #11242c;
    color: white;  
    border-radius: 100%;
    padding: 6px;
    width: 30px;
    height: 30px;
}

.direccion{
    display: flex;
    margin-left: 10px;
    margin-top: 15px;

}
.direccion_texto{
    margin-left: 10px;
    line-height: 30px;
}
.mapa{
    margin-top: 20px;
    width: 100%;
    height: 400px;
}
.fijar{
    position: fixed;
    bottom: 0;
    right: 0; 
    margin: 20px;
    margin-bottom: 30px;
  
}
.fijar_boton{
    background-color: #25d366;
    padding: 6px;
    font-size: 40px;
    border-radius: 100%;
}

footer{
    background-color:#11242c;
}
.container_footer{
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    
}
.navegacion{
    display: table;
    line-height: 25px;
}

.titulo{
    font-size: 17px;
}
.derechos_reservados{
    color: white;
}

@media (max-width: 750px) {
    body{
        font-size: 12px;
    }

    main {
        padding-top: 105px;
    }

    header{
        width: 100%;
        font-size: 12px;

    }
    .encabezado {
        flex-direction: column;
        width: 100%;
    }

    .logo_nombre {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .panel_nav {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .frase {
        font-size: 25px;
    }

    .autor {
        font-size: 16px;
    }
    .seccion_estudio{
        padding-top: 50px;
    }
    .seccion {
        flex-direction: column;
        padding-top: 15px;
    }
    .elestudio{
        font-size: 25px;
    }

    .estudio {
        width: 100%;
    }

    .abogada { 
        width:100%;

    }
    .dra{
        line-height: 40px;
        font-size: 18px;
    }
    .imagen{
        padding-top: 20px;
    }
    .seccion_servicios {
        flex-direction: column;
        gap: 20px;
    }

    .derecho_familia, .derecho_sucesorio, .abogacia_preventiva {
        width: 100%;
        height: auto;
    }

    .contacto_formulario {
        flex-direction: column;
        padding: 0;
    }

    .formulario {
        width: 100%;
    }

    .datos_contacto {
        width: 100%;
    }

    .mensaje {
        width: 100%;
    }
}